<!DOCTYPE HTML>
<html>
    <head>
    <style>
        ol.s {list-style-type: inherit;}
    </style>
        <title>Spotify Song Recommender</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
<p> The campaign name is: {{campaign_name}}</p>
<p> The currency selected is: {{currency}}</p>
<p> The category selected is: {{category}}</p>
<p> The campaign length is: {{campaign_length}} </p>
<p> The percentage pledged is: {{percentage_pledged}} </p>
<p> The number of backers is: {{num_backers}} </p>
<p> Your kickstarter status will be: {{prediction}}</p>
<div class="container" id=footer>
    <form action="/">
        <button type="submit">Go Back</button>
    </form>
</div>
</html>